body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 40px;
}

select, button {
    font-size: 18px;
    padding: 8px;
    margin-top: 10px;
}
